.indicator {
    padding-left: 0.5em;

}

.card {
	font-size: 20px;
	line-height: 1.25;
	margin-top: 16px;
	margin-bottom: 16px;
	// min-height: 80px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-radius: 5px;

	&:hover {
		box-shadow: 0 8px 14px rgba(0,0,0,0.20), 0 4px 4px rgba(0,0,0,0.18);
	}

	&__title {
    padding: 18px 0 12px 0;
    margin: 0 26px 6px 26px;
		font-family: $fontLarge;
		font-size: 24px;
    border-bottom: 2px solid lightgray;
    font-weight: bold;
  }

  &__title--noline {
    padding: 18px 0 12px 0;
    margin: 0 26px 6px 26px;
		font-family: $fontLarge;
		font-size: 24px;
    // border-bottom: 2px solid lightgray;
    font-weight: bold;
  }
  
  &__title--left {
    display: inline-block;
    width: 50%;
    text-align: left;
		text-transform: capitalize;
  }
  
  &__title--right {
    display: inline-block;
    width: 50%;
    text-align: right;
  }
  
  &__footer {
    margin: 0 26px 6px 26px;
    font-family: $fontSmall;
    font-size: 14px;
    color: gray;
    text-align: right;
		text-transform: capitalize;
  }

	&__body {
    font-family: $fontSmall;
    color: gray;
    font-size: 16px;
    font-weight: bold;
		height: 100%;
		padding: 14px 26px 22px 26px;
	}

	&__result {
		overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    text-align: right;
	}

	&__row {
    display: flex;
  }

	&__data-sub {
		line-height: 2;
	}

	&__graph {
		margin: 0 -15px;
	}

	&__label {
    width: 50%;
    text-align: left;

		@include media-breakpoint-up(md) {
			min-width: 50%;
		}
	}

	&__badge {

		/*Bootstrap override*/
		&.badge-danger {
			color: $white !important;
		}
  }

	&--address {
		&-hash {
			font-size: 24px;
			font-weight: 400;
		}

		&-wallet {
			font-size: 24px;
		}
	}

	&--block &__row {
		justify-content: flex-start;
	}

	&--block &__label {
		padding-right: 10px;
	}

	&--status &__row {
    justify-content: flex-start;
    
	}

	&--market {
		font-size: 14px;
	}

	&--market &__info {
		display: flex;
		margin-top: .5em;
	}

	&--market &__icon--arrow {
		font-weight: bold;
	}

	&--market &__data-main {
		font-size: 48px;
		font-weight: bold;
		line-height: .75;
	}

	&--market &__data-sub {
		font-weight: bold;
	}

	&--market &__info-source {
		color: $gray;
		white-space: nowrap;
	}

	&--status &__result--status {
		color: $green;
	}

	&--graph {
    //graph specific
	}

	&--graph &__data-main {
		font-size: 1.25em;
		font-weight: bold;
		line-height: .75;
	}

	&--graph &__data-sub {
		font-size: .8em;
		color: $gray;
  }
  
  .line-divider {
    margin: 10px 0 14px 0;
    border-bottom: 1px solid #e2e2e2;
  }

}

.indicator {
    padding-left: 0.5em;

}

.indicator span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.indicator span:nth-child(2) {
  animation-delay: .2s;
}

.indicator span:nth-child(3) {
  animation-delay: .4s;
}