.searchContainer {
  background-image: linear-gradient(90deg, #2F46D7, #19d2ee);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.search {
	&__icon {
    float: left;
    top: 26px;
    left: 2px;
    position: relative;
    z-index: 2;
    color: white;
	}

	&__input {
		border: 0px solid lighten($gray, 15%);
    border-bottom: 2px solid white;
    color: $white;
    margin: 0;
		// padding: 25px;
    padding-left: 30px;
    font-weight: lighter;
		width: 100%;
		background: transparent;
		
		&:active,
		&:focus,
		&:hover {
			border-bottom: 2px solid white;
			outline: none !important;
			color: lighten($gray, 35%);
			font-weight: bold;
    }
    
		&::placeholder {
			color: lighten($gray, 30%);
			font-weight: bold;
		}
	}

	&--mobile {
	  font-size: .8em;
	}

	&--mobile &__input {
		background: blue;
	  border: 1px solid $white-light;
    color: $white;
	}

	&--mobile input.search__input::placeholder {
		color: $white;
	}
}

@include media-breakpoint-up(md) {
  .search {
    margin-top: 10px;
  }
}