
.table-wrapper {
	@include media-breakpoint-down(lg) {
		overflow-x: auto;
	}

	&__shadow-margin {
		display: initial;

		@include media-breakpoint-down(lg) {
			display: inline-block;
			margin-left: 1px;
			margin-right: 20px;
		}
	}
}

.table {
	width: 99.8%;

	tr {
		transition: all 1s cubic-bezier(0, 1, .5, 1);
	}

	tr.table-spacer {
		padding: 10px 0 10px 0;
		border: none 0;
	}

	tr:nth-child(even) {
		color: $gray;

		td, a, a:visited {
			color: $gray;

			&:hover {
				color: $sgray;
			}
		}
	}

	tr:nth-child(odd) {
		color: $gray-dark;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		&:hover {
			box-shadow: 0 8px 14px rgba(0,0,0,0.20), 0 4px 4px rgba(0,0,0,0.18);
		}

		td, a, a:visited {
			color: $gray-dark;

			&:hover {
				color: $sgray;
			}
		}
	}

	th {
		color: $black;
		font-size: 16px;
		min-width: 100px;
		padding: 32px 5px;
		text-transform: uppercase;
	}

	th:first-child {
		padding-left: 32px;
	}

	th:last-child {
		padding-right: 32px;
		text-align: right;
	}

	td {
		min-width: 100px;
		max-width: 450px;
		overflow: hidden;
		padding: 8px;
		padding-right: 5px;
		text-align: left;
		text-overflow: ellipsis;
  }

	td:first-child {
		padding-left: 32px;
		border-radius: 5px;
	}

	td:last-child {
		padding-right: 32px;
		text-align: right;
		min-width: 0;
		border-radius: 5px;
	}

	tbody {
		font-size: .9em;
	}

	&--has-divider {
		thead {
			th {
				border-bottom: 1px solid $gray-light;
			}
		}
	}
}
